@import '../base/variables';

body {
  font-family: Arial, sans-serif;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-y: hidden;
}

h2 {
  color: #333;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px 10px 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

@media print {
  .no-print {
    display: none !important;
  }
}

/*========= width ===============*/
.w-100px {
  width: 100px;
}

.w-150px {
  width: 150px;
}

.w-200px {
  width: 200px;
}

.w-250px {
  width: 250px;
}

.w-300px {
  width: 300px;
}

.w-70 {
  width: 70%;
}

/*========= text ===============*/
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

/*========= color ===============*/
.bg-primary {
  background-color: $primary-color;
}

.bg-brown {
  background-color: $brown-color;
}

/*========= responsive ===============*/
.pc {
  display: block;
}

.sp {
  display: none !important;
}

@media (max-width: 768px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }

  input,
  select,
  textarea {
    padding: 4px 7px 3px;
  }

  .flex {
    gap: 10px;
  }
}