@import '../base/variables';

/*========= modal ===============*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40%;
  max-height: 95vh;
  overflow-y: auto;

  h3 {
    padding-bottom: 30px;
    color: $primary-color;
  }
}

/* 閉じるボタン */
.close {
  position: absolute;
  color: #aaa;
  font-size: 30px;
  padding: 0;
  right: 23px;
  top: 10px;
  height: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.required::after {
  content: '*';
  color: red;
  padding-left: 3px;
}

.error-message-wrap {
  display: flex !important;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
}

.error-message {
  // color: #1cda61;
  color: #e4ac00;
  font-size: small;
  font-weight: bold;
}

@media (max-width: 768px) {
  .modal-content {
    min-width: 100%;
    width: 100%;

    h3 {
      padding-bottom: 10px;
      @include fz(10);
    }
  }

  .close {
    right: 35px;
    top: 8px;
    font-size: 26px;
  }
}