/*========= table-container ===============*/
.table-container {
  position: relative;
  display: inline-block;
  width: max-content;
  max-width: 100%;
  max-height: calc(85vh - 150px);
  margin: 20px auto 10px;
  overflow-y: auto;
  overflow-x: auto;

  table {
    border-collapse: separate;
    border-spacing: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    thead th,
    tbody td {
      @include fz(7.5);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 10px 10px 7px;
      border-right: 1px solid #ccc;
    }

    thead th {
      position: sticky;
      top: 0;
      text-align: left;
      font-weight: normal;
      color: #fff;
      background-color: #747474;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      z-index: 10;
    }

    tbody td {
      border-bottom: 1px solid #ccc;
    }

    // 偶数行の背景色
    // tbody tr:nth-child(odd) td {
    //   background-color: #afdfe4;
    // }

    // 奇数行の背景色
    tbody tr:nth-child(even) td {
      background-color: #ebebeb;
    }

    th:last-child,
    td:last-child {
      border-right: none;
    }

    tbody tr:last-child td {
      border-bottom: none;
    }
  }
}

.hdd-list.table-container,
.user-list.table-container,
.billing-list.table-container {
  max-height: calc(85vh - 65px) !important;
}

/*========= editボタン ===============*/
.edit-btn {
  color: #939393;
  background-color: transparent;

  &:hover {
    opacity: 0.7;
  }
}

/*========= table-sort ===============*/
.table-sort th {
  cursor: pointer;

  i {
    margin-left: 3px;
    @include fz(7);
    color: #bfbfbf;

    &.fa-sort {
      width: 12.6px;
    }
  }
}

/*========= table-search ===============*/
.table-search input::placeholder {
  font-family: 'Font Awesome 6 Free', sans-serif;
  font-weight: 900;
  color: #ccc;
}

/*========= responsive ===============*/
@media (max-width: 768px) {
  .table-container {
    margin: 10px auto;


    table {

      thead th,
      tbody td {
        padding: 7px 10px 4px;
        font-size: .7rem;
      }

      thead th {}

      tbody td {}

      // 偶数行の背景色
      // tbody tr:nth-child(odd) td {
      //   background-color: #afdfe4;
      // }

      // 奇数行の背景色
      tbody tr:nth-child(even) td {}

      th:last-child,
      td:last-child {}

      tbody tr:last-child td {}
    }
  }
}