@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-y: hidden;
}

main {
  width: calc(100% - 140px);
  color: #37352f;
}

h2 {
  color: #333;
}

input,
select,
textarea {
  width: 100%;
  padding: 7px 10px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

/*========= width ===============*/
.w-100px {
  width: 100px;
}

.w-150px {
  width: 150px;
}

.w-200px {
  width: 200px;
}

.w-250px {
  width: 250px;
}

.w-300px {
  width: 300px;
}

.w-70 {
  width: 70%;
}

/*========= text ===============*/
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0 !important;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 2em;
}

:target {
  scroll-margin-block: 5ex;
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button a {
  font-size: 0.7rem;
  text-decoration: none;
}

/*========= login ===============*/
button.login {
  padding: 8px 30px 7px;
  background: darkgray;
  color: #fff;
  border: 1px solid darkgray;
  margin: 20px auto 0;
  display: block;
}

button.login:hover {
  background: #fff;
  color: darkgray;
  border: 1px solid darkgray;
}

/*========= logout ===============*/
button.logout {
  padding: 2px 15px 4px;
  background: #fff;
  color: darkgray;
  border: 1px solid #fff;
}

button.logout:hover {
  background: darkgray;
  color: #fff;
  border: 1px solid darkgray;
}

/*========= modal ===============*/
button.modal-btn {
  display: block;
  background: darkgray;
  color: #fff;
  border: 1px solid darkgray;
  margin: 40px 0 0;
  width: 110px;
  height: 45px;
  line-height: 44px;
}

button.modal-btn:hover {
  background: #fff;
  color: darkgray;
  border: 1px solid darkgray;
}

/*========= index ===============*/
.add-btn {
  border-radius: 50%;
  border: 2px solid cadetblue;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  color: cadetblue;
  background-color: #fff;
}

.add-btn:hover {
  border: 2px solid cadetblue;
  color: #fff;
  background-color: cadetblue;
}

/*========= calendar ===============*/
/* primarycolor : #fcfcfc */
/* 透過primarycolor : #f5f5f542 */
#calendar .add-btn {
  position: absolute;
}

.fc-license-message {
  display: none;
}

.fc-event {
  border-radius: 2px;
  background-color: #d5d5d5;
  border: 1.5px solid #736d6d;
  border-left: 7px solid #736d6d;
  border-right: 7px solid #736d6d;
  padding: 0;
}

.fc-view-harness-passive {
  background-color: #fff;
}

/* カレンダー内コンテンツ */
.fc .fc-timeline-events {
  line-height: 15px;
}

.fc-h-event .fc-event-main {
  color: #37352f;
  font-size: 0.7rem;
}

.fc .fc-scrollgrid-section-sticky > * {
  background: #fff;
}

/* カレンダー上の線 */
.fc-theme-standard th {
  border: none;
}

/* カレンダー下の線 */
.fc-theme-standard td {
  border: 1px solid #e7e7e7;
}

/* カレンダー下の線 */
.fc .fc-scrollgrid-section-header.fc-scrollgrid-section-sticky > * {
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

/* カレンダーの中身がグレー */
body {
  background-color: #fff;
}

.fc .fc-timeline-slots > table {
  background-color: rgba(245, 245, 245, 0.26);
}

/* 日にち */
.fc .fc-timeline-slot-cushion {
  color: #9a9a9a;
  font-weight: normal;
  font-size: 13px;
}

/* 年月 */
/* .fc .fc-timeline-slot-frame {
  align-items: end;
  display: flex;
  justify-content: left;
}
.fc .fc-timeline-slot-cushion {
  left: 8px;
  right: 379.258px;
  top: 0px;
  text-align: left;
  color: #403f3b;
  font-weight: bold;
  font-size: 15px;
} */
/* HDD No. タイトル */
.fc .fc-datagrid-header .fc-datagrid-cell-frame {
  color: #9a9a9a;
}

/* HDD No. 内容 */
.fc-datagrid-cell-main {
  /* color: $main-text-color; */
}

.fc-theme-standard .fc-scrollgrid {
  border: none;
  border-top: 1px solid #ddd;
}

.fc-event-main {
  padding-left: 10px;
}

form.form {
  background: #f2f2f2;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-content {
  display: grid;
  margin-bottom: 10px;
}
.form-content label {
  font-size: 0.9rem;
  margin: 10px 0 5px;
}

/*========= checkbox ===============*/
/* チェックボックスを隠す */
.custom-checkbox {
  display: none;
}

/* カスタムチェックボックスのスタイル */
.custom-checkbox + label {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
}

/* チェックボックスの見た目を作成 */
.custom-checkbox + label::before {
  content: "";
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* チェックが入ったときのスタイル */
.custom-checkbox:checked + label::before {
  background-color: darkgray;
  border-color: darkgray;
}

/* チェックマークの見た目 */
.custom-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 16.5px;
  top: 3px;
  width: 7px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/*========= selectbox ===============*/
/* セレクトボックス全体のスタイル */
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

/* ラッパーに対してスタイルを設定 */
.custom-select-wrapper {
  position: relative;
  display: inline-block;
}

/* トグルアイコンをラッパーの擬似要素として設定 */
.custom-select-wrapper::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 13px;
  color: #333;
}

/*========= input ===============*/
.auto-input {
  background-color: transparent;
  color: gray;
}

/*========= login-page ===============*/
body.page-login {
  background-color: #b8b8b8;
}
body.page-login .login-wrap {
  width: 400px;
  margin: 15vh auto 0;
}
body.page-login .login-wrap h1 {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: normal;
}
body.page-login .login-wrap h1 span {
  font-size: 1.4rem;
}
body.page-login .login-wrap form.form {
  background-color: #fff;
}
body.page-login .login-wrap .register-info {
  padding: 20px 0;
  text-align: center;
  color: #333;
}
body.page-login .login-wrap .error-message {
  font-size: small;
  color: #ff3d00;
}

.verification_message {
  text-align: center;
  margin: 20vh auto 0;
}
.verification_message h2 {
  font-weight: normal;
  font-size: 1.1rem;
}

/*========= modal ===============*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40%;
  max-height: 95vh;
  overflow-y: auto;
}
.modal-content h3 {
  padding-bottom: 30px;
  color: cadetblue;
}

/* 閉じるボタン */
.close {
  position: absolute;
  color: #aaa;
  font-size: 30px;
  padding: 0;
  right: 23px;
  top: 10px;
  height: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.required::after {
  content: "*";
  color: red;
  padding-left: 3px;
}

/*========= aside ===============*/
aside {
  width: 140px;
  height: 100vh;
  background-color: #a2a2a2;
}

aside nav ul {
  margin: 0;
  padding: 0;
}

aside nav li {
  list-style: none;
}

aside nav li.nav_home {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #4a4a4a;
  color: #fff;
  margin-bottom: 30px;
}

aside nav li a {
  text-decoration: none;
  display: block;
}

/* aside nav li.nav_home a {}


aside nav li.nav_list a {
    font-size: 13px;
    text-align: center;
    margin: 20px 0;
} */
.header-nav {
  background-color: cadetblue;
  padding: 10px 20px;
  color: #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header-nav h1 {
  font-size: 1.5rem;
}

.header-nav p {
  color: #fff;
}

.header-nav-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation {
  position: relative;
  height: 100vh;
  background-color: #a2a2a2;
  box-shadow: 10px 0 0 #fff;
  border-left: 10px solid #a2a2a2;
  overflow-x: hidden;
  transition: all 0.5s;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-left: 5px;
}

.navigation ul li {
  list-style: none;
  display: block;
  position: relative;
  width: 100%;
  border-radius: 15px;
}

.navigation ul li:hover {
  background-color: rgba(137, 140, 143, 0.368627451);
}

.navigation ul li.active {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navigation ul li.active a span {
  color: #000;
}

.navigation ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: flex;
  font-size: 13px;
  padding-left: 10px;
}
.navigation ul li a span {
  color: #fff;
}

.navigation ul li a:hover {
  opacity: 1;
}

/* あとで */
.navigation ul li.active a::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px 15px 0 #fff;
}

.navigation ul li.active a::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #fff;
}

.navigation ul li a .icon {
  display: block;
  min-width: 45px;
  height: 50px;
  line-height: 53px;
}

/*========= hdd_list page ===============*/
/* ID */
/* HDD No. */
/*========= index ===============*/
.container {
  position: relative;
  margin: 40px 10% 0;
}

/*========= rental_list page ===============*/
.list-container {
  position: relative;
  margin: 20px 10%;
}

.list-container table {
  border-collapse: collapse;
  width: auto;
  table-layout: auto;
}

.list-container table th,
.list-container table td {
  font-size: 0.85rem;
  border: 1px solid #ccc;
  padding: 10px 15px 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-container th {
  background-color: #f2f2f2;
  text-align: left;
}

.list-container td {
  width: auto;
}

.table-sort th {
  cursor: pointer;
}
.table-sort th i {
  margin-left: 3px;
  font-size: 0.7rem;
  color: #bfbfbf;
}
.table-sort th i.fa-sort {
  width: 12.6px;
}

/* ID */
/* 番組名 */
/* 担当者 */
/* HDD No. */
/* 開始日 */
/* 終了予定日 */
/* 使用場所 */
/* 返却済 */
/* 返却日 */
/* editボタン */
.edit-btn {
  color: #939393;
}

/*========= hdd_list page ===============*/
.user-list {
  margin-top: 100px;
}