/*========= hdd_list pafe ===============*/

/* ID */
.hdd-list th:nth-child(1),
.hdd-list td:nth-child(1) {
  width: 3%;
}

/* HDDå */
.hdd-list th:nth-child(2),
.hdd-list td:nth-child(2) {
  width: 3%;
}